body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f80606;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}
